.img-logoFooter {
  height: 10%;
  width: 20%;
}

.color-header {
  color: red;
}

.div-position {
  position: absolute;
}

.div-center {
  text-align: center;
}

.column {
  float: left;
  width: 30%;
}
.hr-footer {
  width: 90%;
}
